.activityWrap {
  .pointWrap {
    text-align: center;
    font-size: 100px;
    color: black;
    font-weight: bold;
  }
  .checkBoxWrap {
    font-size: large;
    .cold {
      color: deepskyblue;
    }

    .ordinary {
      color: forestgreen;
    }

    .hot {
      color: coral;
    }

    .excellent {
      color: blueviolet;
    }

    .pointDes {
      color: crimson;
      margin-left: 5px;
    }

    .scoreDes {
      margin-left: 5px;
      color: #00bbff;
    }
  }
}

.completeModal {
  h1 {
    text-align: center;
  }
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
